:root {
  /* ........................................Text Color..................*/
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --accent-secondary-text-color: #ffffff;
  --text-logo-color: #000000;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --form-comment: rgba(117, 117, 117, 0.5);
  /* ...........................................BCG Color............... */
  --primary-bcg-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --other-bcg-color: #eeeeee;
  --hero-bcg-color: #c4c4c4;
  --bcg-work-title: rgba(47, 48, 58, 0.8);
  --hr-line-color: #ececec;
  --fill-color-socials: #afb1b8;
  --overlay-portfolio-bcg: rgba(33, 150, 243, 0.9);
  --modal-bcg: rgba(0, 0, 0, 0.2);

  /* .........................................Animation Transition-CUBIC */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background: var(--accent-secondary-text-color);
  color: var(--secondary-text-color);
}
.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
.list,
.position,
.title {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero,
.features__title,
.work__title,
.team,
.projects,
.clients {
  text-align: center;
}
.logo,
.contacts_link,
.link,
.list {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex {
  display: flex;
}
a:focus {
  outline-color: var(--accent-text-color);
}
/* ..................................................................ALL LOGO ...................................................*/
.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-text-color);
}
.header__logo--top {
  color: var(--text-logo-color);
}

/* ...................................................................Section header................................................. */
.header {
  border-bottom: -1px solid var(--hr-line-color);
}
.nav {
  align-items: center;
}
.nav__list {
  margin-left: 93px;
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__list .nav__link {
  transition: color 250ms var(--timing-function);

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.nav__list .nav__link:hover,
.nav__list .nav__link:focus {
  color: var(--accent-text-color);
}
.nav__list .current {
  position: relative;
  color: var(--accent-text-color);
}
.nav__list .current::after {
  content: '';

  position: absolute;
  display: block;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/* .................................................................contacts........................................ */
.contacts {
  margin-left: auto;
}
.contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts .contacts_link {
  transition: color 250ms var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: currentColor;
}
.contacts .contacts__link:hover,
.contacts .contacts_link:focus {
  color: var(--accent-text-color);
}
.contacts .contacts__link:hover,
.contacts .contacts__link:focus {
  fill: var(--accent-text-color);
}
.contacts .contacts_icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

/* ................................................................Section Hero............................................ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  margin-left: auto;
  margin-right: auto;
}
.hero--overlay {
  max-width: 1600px;
  height: 600px;

  background-color: var(--primary-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  margin: 0 auto 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--accent-secondary-text-color);
  text-transform: uppercase;
}
.hero .button {
  transition: box-shadow 250ms var(--timing-function), filter 250ms var(--timing-function);

  min-width: 200px;

  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--accent-secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* ...........................................Модальное окно ...........................*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms var(--timing-function);

  background-color: var(--modal-bcg);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-bottom: 29px;
  padding-left: 44px;
  padding-right: 36px;
  text-align: center;

  background-color: var(--accent-secondary-text-color);
}
.modal__button--close {
  transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;

  background-color: var(--accent-secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__button--close:hover,
.modal__button--close:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
  outline: 0;
}
.modal__icon {
  transition: fill 250ms var(--timing-function);
}
/* ..................................................Форма.......................... */
.form__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-text-color);
}
.form__field {
  display: block;
  text-align: left;

  margin-bottom: 10px;
}
.form__label {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form__input-container {
  display: block;
  position: relative;
}
.form__input {
  display: inline-block;
  padding: 12px 16px;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms var(--timing-function);
}
.form__input-container:hover .form__input,
.form__input-container:focus-within .form__input {
  border-color: var(--accent-text-color);
  outline: 0;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  color: var(--primary-text-color);
  fill: currentColor;

  transform: translateY(-50%);
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.form__input-container:hover .form__icon,
.form__input-container:focus-within .form__icon {
  fill: var(--accent-text-color);
}
.form__field--comments {
  margin-bottom: 20px;
}
.form__comments {
  resize: none;
  padding: 12px 16px;

  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form__field .form__comments:hover,
.form__field .form__comments:focus-within {
  border-color: var(--accent-text-color);
  outline: 0;
}
.form__field .form__comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__field .form__comments:hover::placeholder {
  color: var(--accent-text-color);
}
/*................................... checkbox........... */
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.form-checkbox__icon-container {
  position: relative;

  display: block;
  width: 16px;
  height: 15px;

  margin-right: 8px;

  cursor: pointer;
}
.form-checkbox_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox__icon--check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 4px;
  transform: scale(0.9);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.form-checkbox_input:checked + .form-checkbox__icon--check {
  transform: scale(1);
  opacity: 1;
}
.form-checkbox__icon--uncheck {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 16px;
  height: 15px;

  border-radius: 4px;
  border: 2px solid var(--primary-text-color);
  transition: border-color 250ms var(--timing-function), filter 250ms var(--timing-function);
}
.form-checkbox_input:checked ~ .form-checkbox__icon--uncheck {
  border-color: var(--accent-text-color);
}

.form-checkbox_input:hover ~ .form-checkbox__icon--uncheck,
.form-checkbox_input:focus ~ .form-checkbox__icon--uncheck {
  border-color: var(--accent-text-color);
}
.form-checkbox_input:hover:checked ~ .form-checkbox__icon--uncheck {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.check-policy {
  line-height: 1.71;
  cursor: pointer;
}
.check-policy__link {
  color: var(--accent-text-color);
}
.form .form__button {
  transition: filter 250ms var(--timing-function), background-color 250ms var(--timing-function);
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--accent-secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.form .form__button:hover,
.form .form__button:focus {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

  background-color: rgb(21, 142, 242);
  outline: none;
}
/* ...............................................................Section features ...................................................*/
.features__title {
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
}
.features__list .features__list-text {
  width: 270px;
  line-height: 1.72;
  color: currentColor;
}
.features__list .features__item:not(:last-child) {
  margin-right: 30px;
}
.features__list-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.features__icon--container .features__icon {
  height: 120px;
}
.features__icon--container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
}

/* .............................................................Section work............................................... */
.work {
  padding-top: 0;
}
.work__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
.work-list .work-list__item {
  position: relative;
}
.work-list .work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__img-description {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  text-transform: uppercase;

  color: var(--accent-secondary-text-color);
  background-color: var(--bcg-work-title);
}
/* ................................................................Section team..................................................... */
.team {
  background-color: var(--secondary-bcg-color);
}
.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
.team-list .team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list .team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--accent-secondary-text-color);
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list .team-container__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
}
.team-list .team-container__position {
  font-size: 16px;
  margin-bottom: 16px;
}
.team-socials-list {
  justify-content: center;
  align-items: center;
}
.team-socials-list .team-socials-list__item:not(:last-child) {
  margin-right: 10px;
}
.team-socials-list__link {
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-color-socials);
}
.team-socials-list__link:hover,
.team-socials-list__link:focus {
  fill: var(--accent-secondary-text-color);
  background-color: var(--accent-text-color);
}

/* ....................................................... Section clients............................. */
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
.clients__list .clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--fill-color-socials);
  border-radius: 4px;
  fill: var(--fill-color-socials);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
/* ................................................................Section footer............................................. */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bcg-color);
}
.footer-container {
  align-items: baseline;
}
.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-text-color);
}
.footer__logo--down {
  color: var(--accent-secondary-text-color);
}
.address {
  font-style: normal;
}
.address__list {
  margin-top: 20px;
}
.address__list .address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__list .address__link {
  transition: color 250ms var(--timing-function);
  color: var(--contacts-footer-color);
  line-height: 1.72;
}
.address__list .address__link:hover,
.address__list .address__link:focus {
  color: var(--accent-text-color);
}

.address .address__link--white {
  color: var(--accent-secondary-text-color);
}
/* .......................................................Section socials ....................*/
.footer-socials {
  margin-right: 93px;
}
.footer-socials__title {
  margin-bottom: 20px;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--accent-secondary-text-color);
}
.footer-socials__list .footer-socials__item:not(:last-child) {
  margin-right: 10px;
}
.footer-socials__link {
  transition: background-color 250ms var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--accent-secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--accent-text-color);
}

/* ..................................subscribe........................................*/
.subscribe {
  display: inline-block;
  width: 570px;
  height: 86px;
}
.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--accent-secondary-text-color);
}
.subscribe__form {
  display: flex;
}
.subscribe__input-container {
  margin-right: 12px;
}
.subscribe__input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;

  color: var(--accent-secondary-text-color);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.subscribe__input:hover {
  border-color: var(--accent-text-color);
}
.subscribe__input:focus-within {
  border-color: var(--accent-secondary-text-color);
  outline: none;
}
.subscribe__button {
  position: relative;
  transition: box-shadow 250ms var(--timing-function), filter 250ms var(--timing-function),
    background-color 250ms var(--timing-function), outline 250ms var(--timing-function);

  min-width: 200px;

  padding: 10px 28px;
  padding-left: 29px;
  border-radius: 4px;
  border: none;
  text-align: left;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--accent-secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.subscribe__submit .subscribe__button:hover,
.subscribe__submit .subscribe__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgb(21, 142, 242);
  outline: 0.5px solid var(--accent-secondary-text-color);
}
.subscribe__icon {
  position: absolute;
  transition: filter 250ms var(--timing-function);
  top: 13px;
  right: 28px;

  fill: var(--accent-secondary-text-color);
}
.subscribe__submit:hover .subscribe__icon,
.subscribe__submit:focus-within .subscribe__icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*............................................................. Page Portfolio....................................................... */
.header--hr {
  border-bottom: 1px solid var(--hr-line-color);
}
/* .........................................................Filters Portfolio........................................................... */
.portfolio__filters {
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio__filters .portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__filters .portfolio__button {
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function), filter 250ms var(--timing-function);
  padding: 6px 22px;

  border-width: 0;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
  background-color: var(--secondary-bcg-color);
}
.portfolio__filters .portfolio__button:hover,
.portfolio__filters .portfolio__button:focus {
  cursor: pointer;
  background-color: var(--accent-text-color);
  color: var(--accent-secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* ...................................................................Projects Title............................................... */
.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-text-color);
}
/* ....................................................................Projects-list....................................... */
.card-set-list {
  flex-wrap: wrap;
}
.card-set__container {
  padding: 20px 24px;
  border: 1px solid var(--other-bcg-color);
  border-top: none;
}
.card-set__item .card-set__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.card-set__item .card-set__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
.card-set__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-set__item:nth-child(3n) {
  margin-right: 0;
}
.card-set__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-set__link {
  display: inline-block;
  transition: box-shadow 250ms var(--timing-function);
}
.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__overlay-box {
  position: relative;
  overflow: hidden;
}
.card-set__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.card-set__link:hover .card-set__overlay,
.card-set__link:focus .card-set__overlay {
  transform: translateY(0);
  opacity: 1;
}
.card-set__description {
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--accent-secondary-text-color);
  background-color: var(--overlay-portfolio-bcg);
}
