.clients {
  height: 100%;
  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: $primary-text-color;
    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }
}
.clients__list {
  .clients__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
}
.clients__list--flex {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.clients__list {
  margin-right: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
  }
}
.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: $mobile) {
    width: calc((100% - 60px) / 2);
  }
  &:nth-child(2n) {
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
  &:nth-last-child(-n + 2) {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}
.clients__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 90px) / 3);
  }

  &:nth-child(3n) {
    @media screen and (max-width: 1199px) {
      margin-right: 0;
    }
  }
  &:nth-last-child(-n + 3) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 0;
    }
  }
}

.clients__link {
  transition: border 250ms $timing-function, fill 250ms $timing-function;

  @include flexible;
  border: 1px solid $fill-color-socials;
  border-radius: 4px;
  fill: $fill-color-socials;
  @media screen and (min-width: $mobile) {
    padding: 12px 52px;
  }
  @media screen and (max-width: 767px) {
    padding: 16px 60px;
  }

  &:hover,
  &:focus {
    fill: $accent-text-color;
    border: 1px solid $accent-text-color;
  }
}
