.features__list-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: $primary-text-color;
  text-transform: uppercase;

  @media screen and(min-width: 480px) {
    text-align: center;
  }
}
.features__list-text {
  // width: 270px;
  line-height: 1.72;
  color: currentColor;
}
// .features__list--flex {
//   display: flex;
// }
@media screen and(min-width: 480px) {
  .features__list .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
// .features__list .features__item:not(:last-child) {
//   margin-right: 30px;
// }
.features__icon--container {
  margin-bottom: 30px;

  @include flexible;

  background-color: $secondary-bcg-color;
  border-radius: 4px;

  .features__icon {
    height: 120px;
  }
}
