.footer {
  background-color: $primary-bcg-color;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--container {
  @media screen and (min-width: $tablet) {

    @include flexible(flex, space-around, baseline);
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
    @include flexible(flex, null, baseline);
  }
}

.footer__flex--container {
  @media screen and (min-width: $desktop) {
    align-items: baseline;
    display: flex;
  }
}

.footer__address-container {
  text-align: center;


  @media screen and (min-width: $desktop) {
    margin-right: 70px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.address {
  font-style: normal;
}

.address__list {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address__link {
  transition: color 250ms $timing-function;
  color: $contacts-footer-color;
  line-height: 1.72;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &--white {
    color: $accent-secondary-text-color;
  }
}

// ...................................................footer-socials
.footer-socials {
  text-align: center;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
  }


  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    margin-bottom: 0;
    text-align: left;
  }

  &__title {
    margin-bottom: 20px;

    font-size: inherit;
    text-transform: uppercase;
    color: $accent-secondary-text-color;
  }
}

.footer-socials__list {
  @media screen and (max-width: 767.98px) {
    @include flexible(flex, center, null);
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }


}

.footer-socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-socials__link {
  transition: background-color 250ms $timing-function;

  @extend %flexible;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $accent-secondary-text-color;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

//.............Скролл
.scroll-to-top {
  @media screen and (max-width: 1299.98px) {
    display: none;
  }

  @media screen and (min-width: $desktop) and (min-width: 1300px) {

    position: fixed;
    bottom: 170px;
    right: 8%;

    @include flexible(flex, center, center);

    width: 50px;
    height: 50px;

    background-color: $primary-bcg-color;
    outline: 2px solid $accent-text-color;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    animation: slide-top 1s linear 2s infinite alternate both;
    transition: opacity 250ms $timing-function;
  }
}


.js-transparent {
  opacity: 0;
  pointer-events: none;
}

.arrow-top {
  fill: $accent-secondary-text-color;
}

@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}