.footer {
  background-color: $primary-bcg-color;
  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-container {
    align-items: baseline;
  }
}
.footer-container--flex {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.footer__address-container {
  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}
.address {
  font-style: normal;
  &__list {
    @media screen and (min-width: $desktop) {
      margin-top: 20px;
    }
  }
}
.address__list {
  .address__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
}
.address__link {
  transition: color 250ms $timing-function;
  color: $contacts-footer-color;
  line-height: 1.72;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &--white {
    color: $accent-secondary-text-color;
  }
}
// ...................................................footer-socials
.footer-socials {
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }

  &__title {
    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
    }
    font-size: inherit;
    text-transform: uppercase;
    color: $accent-secondary-text-color;
  }
}
.footer-socials--flex {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.footer-socials__list {
  .footer-socials__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 10px;
    }
  }
}
.footer-socials__link {
  transition: background-color 250ms $timing-function;
  @media screen and (min-width: $desktop) {
    @include flexible;

    width: 44px;
    height: 44px;
  }

  border-radius: 50%;
  fill: $accent-secondary-text-color;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}
