.header {
  @media screen and (max-width: 767.98px) {
    position: relative;
  }

  &--hr {
    @media screen and (min-width: $tablet) {
      border-bottom: 1px solid $hr-line-color;
    }

    @media screen and (min-width: $desktop) {
      border-bottom: 1px solid $hr-line-color;
    }
  }
}

.navigation {
  @media screen and (max-width: 767.98px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

// .............................................Menu

.nav__menu--button {
  @media screen and (max-width: 767.98px) {
    display: inline-flex;
    margin: 0;
    padding: 10px 0;

    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &:hover .icon__menu,
    &:focus .icon__menu,
    &:hover .icon__cross,
    &:focus .icon__cross {
      fill: $accent-text-color;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.icon__cross {
  opacity: 0;
  transform: translateX(-100%);

  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
}

.icon__menu {
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
}

.nav__menu--button.is-open .icon__menu {
  opacity: 0;
  transform: translateX(100%);
}

.nav__menu--button.is-open .icon__cross {
  opacity: 1;
  transform: translateX(0);
}

.nav__menu--button.is-open~.menu__container {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.menu__container {
  @media screen and (max-width: 767.98px) {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    transform: translateX(-100%);
    transition: transform 250ms $timing-function;
    visibility: hidden;
    z-index: 1;

    background-color: $accent-secondary-text-color;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 88px;
    flex-grow: 1;

    .contacts {
      margin-left: auto;
    }
  }
}

body {

  &.is-modal-shown,
  &.is-menu-shown {
    overflow: hidden;
  }
}

.nav__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  .current {
    @media screen and (max-width: 767.98px) {
      color: $accent-text-color;
    }

    @media screen and (min-width: $tablet) {
      position: relative;
      color: $accent-text-color;
    }

    &::after {
      @media screen and (min-width: $tablet) {
        content: '';

        position: absolute;
        display: block;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 4px;
        background-color: $accent-text-color;
        border-radius: 2px;

        @media screen and (max-width: 1199.98px) {
          bottom: -2px;
        }
      }
    }
  }
}

.nav__item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  display: block;

  transition: color 250ms $timing-function;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @media screen and (max-width: 767.98px) {
    font-size: 40px;
    line-height: 1.175;
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

// ...............................................Contacts
.contacts__list {
  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__item {
  @media screen and (max-width: 767.98px) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  transition: color 250ms $timing-function;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: currentColor;

  @media screen and (max-width: 767.98px) {
    font-size: 24px;
    line-height: 1.16;
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;

    @media screen and (max-width: 1198.98px) {
      padding-top: 21px;
      padding-bottom: 21px;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: inherit;
    line-height: inherit;

    @include flexible;

    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-text-color;

    @media screen and (min-width: $tablet) {
      fill: $accent-text-color;
    }
  }
}

.contacts__link--tel {
  @media screen and (max-width: 767.98px) {
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accent-text-color;
    white-space: normal;
  }
}

// ...............................Menu socials

.menu-socials-list {
  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-socials__item {
  @media screen and (max-width: 767.98px) {
    display: flex;
    align-items: center;

    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: '';
        margin-left: 10px;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
      }
    }
  }
}

.menu-socials__link {
  @media screen and (max-width: 767.98px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    color: $accent-text-color;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $secondary-text-color;
    }
  }
}

// .......................................................Icon
.contacts__icon {
  @media screen and (min-width: $tablet) {
    fill: currentColor;
    cursor: pointer;
  }
}

.icon-mail {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.icon-tel {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    width: 12px;
    height: 16px;
  }
}