.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: $secondary-font-fam;
  font-weight: 700;
  font-size: 26px;
  color: $accent-text-color;

  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
  }


  &--top {
    color: $text-logo-color;
  }
}

.header__logo {
  @media screen and(min-width: $desktop) {
    transition: transform .5s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.footer__logo {
  font-family: $secondary-font-fam;
  font-weight: 700;
  font-size: 26px;
  color: $accent-text-color;

  &--down {
    color: $accent-secondary-text-color;
  }
}