 @mixin flexible($dy, $jc, $ai) {
   display: $dy;
   justify-content: $jc;
   align-items: $ai;
 }

 @mixin centering($pos, $top, $left) {
   position: $pos;
   top: $top;
   left: $left;
 }

 @mixin font($fs, $lh) {
   font-size: $fs;
   line-height: $lh;
 }