// .form__contacts {
//   outline: 1px solid olivedrab;

//   width: 585px;
//   height: 200px;
//   padding: 20px;
//   padding-top: 60px;
//   background-color: #f5f4fa;
// }

// .contacts__title,
// .form__title {
//   margin-bottom: 20px;
//   font-size: inherit;
//   text-transform: uppercase;
//   color: #000;
//   text-align: center;
// }

// .form__title {
//   display: block;
//   margin-bottom: 30px;
// }

// .form__label--label {
//   outline: 1px solid orange;
// }
// .form__text {
//   font-size: 12px;
//   line-height: 1.66;
//   letter-spacing: 0.01em;
//   margin-right: 4px;
// }
// .form__input--input {
//   padding: 12px 16px;

//   height: 40px;
//   border-radius: 4px;
//   border: none;
// }
// .contacts__container {
//   width: 585px;
//   height: 200px;
//   padding: 20px;
//   padding-top: 60px;
//   background-color: #f5f4fa;
// }
// .conteiner--everly {
//   justify-content: center;
// }
// .contacts--center {
//   justify-content: center;
// }

.form__field--big {
  margin-bottom: 30px;
}
.hero--small {
  @media screen and (max-width: 479.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
    height: auto;
  }
}
.container--flex {
  @media screen and (max-width: 479.98px) {
    max-width: 80vw;
    display: inline-block;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}
.hero__title--center {
  @media screen and (max-width: 479.98px) {
    margin: 0;
    width: 200px;
    display: inline-block;
  }
  @media screen and (min-width: $tablet) {
    display: block;

    margin-bottom: 30px;
  }
}
.form__label--color {
  color: $accent-secondary-text-color;
}
.icon__uncheck {
  border: 2px solid $accent-secondary-text-color;
}
